* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background: linear-gradient(135deg, #ff80ab, #fce4ec);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  width: 90%;
  max-width: 400px;
  text-align: center;
}

h2 {
  color: #880e4f;
  margin-bottom: 15px;
  font-weight: 600;
}

.card {
  background: white;
  border-radius: 20px;
  padding: 20px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

.hidden {
  display: none;
}

input {
  width: 100%;
  padding: 10px;
  margin: 8px 0;
  border: 1px solid #ccc;
  border-radius: 10px;
}

button {
  width: 100%;
  padding: 10px;
  background: #ec407a;
  color: white;
  border: none;
  border-radius: 10px;
  margin-top: 10px;
  cursor: pointer;
  font-weight: bold;
}

button:hover {
  background: #d81b60;
}

.chat-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.chat-box {
  background: #f8bbd0;
  height: 300px;
  margin: 15px 0;
  padding: 10px;
  border-radius: 15px;
  overflow-y: auto;
  text-align: left;
}

.message {
  background: #fff;
  padding: 8px 12px;
  border-radius: 15px;
  margin: 5px 0;
  display: inline-block;
  max-width: 80%;
  font-size: 14px;
}

.message span {
  display: block;
  color: #666;
  font-size: 12px;
  margin-top: 3px;
}

.input-row {
  display: flex;
  gap: 10px;
}

.input-row input {
  flex: 1;
  border-radius: 10px;
  border: 1px solid #ccc;
}
